<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670549898987-mhohjm6penpt4c0en2l3ss50hsi86m62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670549898987-mhohjm6penpt4c0en2l3ss50hsi86m62</string>
	<key>API_KEY</key>
	<string>AIzaSyDuPXfLhzsqdvkx92oUUSD7rxwq6bv1-X4</string>
	<key>GCM_SENDER_ID</key>
	<string>670549898987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterassembly.foodexpirytracker</string>
	<key>PROJECT_ID</key>
	<string>pantryrack-4dae9</string>
	<key>STORAGE_BUCKET</key>
	<string>pantryrack-4dae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670549898987:ios:ba29e930674e97b42830ae</string>
	<key>DATABASE_URL</key>
	<string>https://pantryrack-4dae9.firebaseio.com</string>
</dict>
</plist>